.btn-dialog {
    margin-left: 10px;
}
.surface {
    min-width: 1024px;
    min-height: 500px;


}
.photo {
    position: relative;
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
    background-color: #242727;
    border: 1px solid rgb(24, 142, 245);
}
.img {
    max-width: 200px;
    min-width: 200px;
    min-height: 200px;
}
.card {
    margin-left: 10px;
    overflow: hidden;
}
.form-group {
    margin: 10px;
}
.titleDialog {
    background-color: #242727;
    color: aliceblue;
}
.main-row {
    margin-top: 10px;
}
.btn-submit {
    min-width: 100px;
}
