$mdc-theme-primary: #3700B3;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;
@import "~@angular-mdc/theme/material";

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: hidden;
}

.main-content {
  overflow: hidden;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.drawer {
  position: absolute;
  margin-top: 50px;
  bottom: 0;
}
.toggleShowTop {
  display: none;
}
.container {
  background-color: #fff;
}
.app-top-bar{
  background-color: #000051;
}
