<div class="container">
  <div class="tabDiv">
    <div class="card">
      <div class="card-header">
        Administrator menu
      </div>
      <div class="card-content">
        <mdc-tab-bar #tabbarDefault stacked>
          <mdc-tab-scroller>
            <mdc-tab label="Food Types" icon="fastfood">
                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                  </span>
                  <span class="mdc-tab__ripple"></span>
            </mdc-tab>
            <mdc-tab label="Discounts" icon="trending_down"></mdc-tab>
            <mdc-tab label="Currency" icon="attach_money"></mdc-tab>
            <mdc-tab label="Favorites" icon="favorite"></mdc-tab>
            <mdc-tab label="Navigate" icon="navigation"></mdc-tab>
          </mdc-tab-scroller>
          
        </mdc-tab-bar>
      
      </div>
    </div>
      
  </div>
</div>
