.titleDialog {
  background-color: #1a237e;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
.footer-div {
  background-color: #1a237e;
  color: #ffffff;
}
.btn-save {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
  color: #ffffff;
  background-color: #1a237e;
}
.surface {
  min-width: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
.form-group {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
