<mdc-dialog class="dialog-form">
  <mdc-dialog-container>
    <mdc-dialog-surface class="surface">

      <mdc-dialog-content>
        <div class="card">

          <div class="card-body">
            <form [formGroup]="addFoodformGroup">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <mdc-image-list textProtection>
                      <mdc-image-list-item>
                        <mdc-image-list-image-aspect>
                          <div class="imgDiv">
                            <img class="w-100" [mdcElevation]="3" [src]="photoPath" (click)="fileInput.click()">
                            <h4 class="text-center" style="margin-top: 10px;">ຮູບພາບອາຫານ</h4>
                          </div>
                        </mdc-image-list-image-aspect>
                      </mdc-image-list-item>
                    </mdc-image-list>
                    <input style="display: none" type="file" required (change)="onFileChange($event)" #fileInput>
                  </div>
                  <div class="col">
                    <div class="row">
                      <mdc-text-field formControlName="food_name" required id="food_name" class="control-space" name="food_name"
                        label="ຊື່ອາຫານ" outlined aria-placeholder="Food name" dense="true"></mdc-text-field>
                      <mdc-select formControlName="food_type_id" id="food_type_id" required class="control-space" label="ປະເພດ"
                        outlined>
                        <option value="">---------- ເລືອກ ----------</option>
                        <option value="{{ f.id }}" *ngFor="let f of foot_type_list">{{
                          f.food_type_desc_la }}</option>
                      </mdc-select>
                      <mdc-select formControlName="food_subtype_id" id="food_subtype_id" required class="control-space" label="ປະເພດ"
                        outlined>
                        <option value="none">---------- ບໍ່ມີ ----------</option>
                        <option value="{{ fst.id }}" *ngFor="let fst of food_subtype_list">{{
                          fst.subtype_name }}</option>
                      </mdc-select>
                      <mdc-text-field formControlName="cost" id="cost" type="number" required class="control-space"
                        aria-placeholder="ລາຄາຕົ້ນທຶນ" outlined name="cost" label="ລາຄາຕົ້ນທຶນ">
                      </mdc-text-field>
                      <mdc-text-field formControlName="price" id="price" required type="number" class="control-space"
                        aria-placeholder="ລາຄາຕົ້ນຂາຍ" outlined name="price" label="ລາຄາຕົ້ນຂາຍ">
                      </mdc-text-field>

                      <mdc-select id="currcode" formControlName="currcode" required class="control-space" label="ສະກຸນເງິນ"
                        outlined>
                        <option value="">---------- ເລືອກ ----------</option>
                        <option value="{{ curr.curr_code }}" *ngFor="let curr of currcodes">{{
                          curr.curr_name_la }}</option>
                      </mdc-select>

                      <mdc-select id="kitchen_code" formControlName="kitchen_code" required class="control-space" label="ຫ້ອງຄົວ"
                        outlined>
                        <option value="">---------- ເລືອກ ----------</option>
                        <option value="{{ k.id }}" *ngFor="let k of kitchens">{{ k.kitchen_code }}</option>
                      </mdc-select>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </mdc-dialog-content>
      <mdc-dialog-actions class="footer-div">
        <button class="btn btn-lg" type="submit" (click)="addFood()">ບັນທຶກ</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
