<mdc-dialog class="dialog-form">
	<mdc-dialog-container>
		<mdc-dialog-surface>
      <mdc-dialog-title>ເພີມລາຍການອາຫານ</mdc-dialog-title>
			<mdc-dialog-content>
          <form [formGroup]="profileForm" (ngSubmit)="submit()" autocomplete="off">
          <div class="col-sm-6 control-col">
            <mdc-text-field formControlName="food_name" id="food_name" class="control-space" name="food_name" label="ຊື່ອາຫານ"
          outlined required aria-placeholder="Food name" ></mdc-text-field>
          <mdc-select formControlName="food_type_id" id="food_type_id" class="control-space" label="ປະເພດ" autosize>
            <option value=""></option>
            <option value="{{ f.id }}" *ngFor="let f of foot_type_list">{{ f.food_type_desc_la }}</option>
          </mdc-select>
          <mdc-text-field formControlName="cost" id="cost" type="number" class="control-space" aria-placeholder="ລາຄາຕົ້ນທຶນ"
          outlined required name="cost" label="ລາຄາຕົ້ນທຶນ">
          </mdc-text-field>
          <mdc-text-field formControlName="price" id="price" type="number" class="control-space" aria-placeholder="ລາຄາຕົ້ນຂາຍ"
          outlined required name="price" label="ລາຄາຕົ້ນຂາຍ">
          </mdc-text-field>
          <mdc-select id="currcode" formControlName="currcode" class="control-space" label="ສະກຸນເງິນ" autosize>
            <option value=""></option>
            <option value="{{ curr.curr_code }}" *ngFor="let curr of currcodes">{{ curr.curr_name_la }}</option>
          </mdc-select>
          </div>
          <div class="col-sm-6">

              <mdc-image-list textProtection>
                  <mdc-image-list-item>
                    <mdc-image-list-image-aspect>
                      <img class="w-100" [src]="photoPath" (click)="fileInput.click()">
                      <div class="text-center">
                        <button type="button" [disabled]="!file" [raised]="true" mdc-button (click)="onUpload()">Upload</button>
                      </div>
                    </mdc-image-list-image-aspect>
                  </mdc-image-list-item>
                </mdc-image-list>
                <input style="display: none" type="file" (change)="onFileChange($event)" #fileInput>
          </div>
          
        </form>
			</mdc-dialog-content>
			<mdc-dialog-actions>
				<button mdcDialogButton mdcDialogAction="close">Cancel</button>
        <button mdcDialogButton type="submit" form="profileForm">Create</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>