<div class="container container-main">
  <div mdcElevation="3" class="card">
    <div class="card-header">
      <div class="h5">Kitchen monitoring</div>
    </div>
    <div class="card-body">
      <div class="row" *ngFor="let ordertrack of orderTrackings |groupBy 'ordertrack.qtag'">
        <div class="col col-md-2">
          <div mdcElevation="3" class="text-center q-number">
            <div class="display-4">{{ ordertrack.qtag }}</div>
          </div>
        </div>
        <div class="col col-md-8">
          <ul>
            {{ ordertrack.food_name }}
          </ul>
        </div>
        <div class="col col-md-2">
          <div class="text-center display-4">
            <div class="time-div">30</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
