<div class="container container-main">
  <div mdcElevation="3" class="card">
    <div class="card-header">
      <div class="h5">Kitchen monitoring</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col col-md-2">
          <div mdcElevation="3" class="text-center q-number">
            <div class="display-4">1</div>
          </div>
        </div>
        <div class="col col-md-8">
          <ul>
            <li>Checken x 3 </li>
            <li>Coke x 4</li>
            <li>pepsi x 5</li>
            <li>Papaya x 1</li>
          </ul>
        </div>
        <div class="col col-md-2">
          <div class="text-center display-4">
            <div class="time-div">30</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
