.container-main {
  margin-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.card-header {
  background-color: rgb(17, 88, 170);
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.q-number {
  background-color: rgb(114, 216, 144);
  border-radius: 3px;
  margin-top: 5px;
  top: 50%;

}
.q-row {
  margin-top: 2px;
  border: 1px solid rgb(180, 184, 182);
  border-radius: 3px;
  padding: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.list-group-item {
  margin: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.header-row {
  border: 1px solid rgb(180, 184, 182);
  border-radius: 3px;
  margin-bottom: 4px;
  padding: 4px;
  background-color: rgb(17, 88, 170);
  color: white;
  min-height: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.inner-q {
  position: relative;
  vertical-align: middle;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
