<div class="container container-main">
  <div mdcElevation="3" class="card">
    <div class="card-header">
      <div class="h5">ຕິດຕາມລາຍການອາຫານ ທີ່ຍັງບໍ່ໄດ້ສົ່ງໃຫ້ລູກຄ້າ</div>
    </div>
    <div class="card-body">
      <div class="row q-row" *ngFor="let order of order_tracks.order">
        <div class="col col-md-2 ">
          <div mdcElevation="4" class="text-center q-number">
            <div class="inner-q">
              <div class="display-4">{{ order[0].qtag }}</div>
            </div>
          </div>
        </div>
        <div class="col col-md-8">
          <ul class="list-group" style="margin-top:5px;" *ngFor="let food of order ; index as i ">
            <li class="list-group-item h6 text-nowrap">
              <div class="row">
                <div class="col col-md-1 text-center">{{ i + 1 }} </div>
                <div class="col col-md-4 text-left"><strong>{{ food.food_name }} </strong></div>
                <div class="col col-md-3 text-left">ຈຳນວນ <strong>{{ food.quantity }}</strong> </div>
                <div class="col col-md-4 text-left"><span class="note-div">{{ food.note }}</span></div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col col-md-1">
          <div class="row align-middle">
            <div class="text-center ">

              <div class="list-group" style="margin-top:5px; right: 5px;">
                <div class="list-group-item h6">{{ order[0].starttime | date: 'HH:mm:ss' }}</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>