<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface class="surface">
      <mdc-dialog-title class="titleDialog">Add new user</mdc-dialog-title>
      <mdc-dialog-content>
        <div class="row main-row">
          <div class="col col-md-3">
            <div class="photo">
              <img class="w-100" [src]="photoPath" (click)="fileinput.click()">
            </div>
            <input type="file" hidden #fileinput required (change)="onFileChange($event)">
          </div>
          <div class="col col-md-9">

            <div class="card">
              <form [formGroup]="updateUserform">
                <div class="row">
                  <div class="col col-md-6">
                    <div class="form-group">
                      <label for="genderSelect">Gender</label>
                      <select formControlName="gender" id="genderSelect" class="form-control" tabindex="1" [ngModel]="gr">
                        <option value="">Choose</option>
                        <option value="{{ gr.gender_code }}" [ngValue]="gr" *ngFor="let gr of genders">{{
                          gr.gender }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="usernametxt">Username</label>
                      <input formControlName="username" type="text" class="form-control" id="usernametxt" tabindex="3"
                        value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                      <label for="dateofbirthtxt">Date Of Birth</label>
                      <input type="date" formControlName="dateofbirth" class="form-control" id="dateofbirthtxt" value="{{ user.dateofbirth | date: 'yyyy-MMM-dd' }}"
                        tabindex="5">
                    </div>

                    <div class="form-group">
                      <label for="mobiletxt">Mobile</label>
                      <input type="tel" formControlName="mobile" class="form-control" id="mobiletxt" tabindex="9" value="{{ user.mobile }}">
                    </div>
                  </div>
                  <div class="col col-md-6">
                    <div class="form-group">
                      <label for="fulltxt">Full name</label>
                      <input type="text" formControlName="fullname" class="form-control" id="fulltxt" tabindex="2"
                        value="{{ user.fullname }}">
                    </div>

                    <div class="form-group">
                      <label for="emailtxt">Email</label>
                      <input type="email" formControlName="email" class="form-control" id="emailtxt" tabindex="4" value="{{ user.email }}">
                    </div>

                    <div class="form-group">
                      <label for="currentaddrtxt">Current address</label>
                      <input type="text" formControlName="current_address" class="form-control" id="currentaddrtxt"
                        value="{{ user.current_address }}" tabindex="6">
                    </div>

                    <div class="form-group">
                      <label for="roleSelect">Role</label>
                      <select id="roleSelect" formControlName="role_code" class="form-control" tabindex="10" [ngModel]="role">
                        <option value="">Choose</option>
                        <option *ngFor="let role of roles" [ngValue]="role" value="{{ role.role_code }}">{{
                          role.role_name }}</option>
                      </select>
                    </div>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </mdc-dialog-content>
      <mdc-dialog-actions>
        <button class="btn btn-primary btn-dialog btn-lg btn-submit" type="button" (click)="updateUser()" tabindex="11">ບັນທຶກ</button>
      </mdc-dialog-actions>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
