.main {
    position: relative;
    min-width: 800px;
    margin-top: 50px;
}
.button-result {
    margin-left: 5px;
    position: relative;
    min-width: 120px;
}
.card-header {
  background-color: rgb(17, 88, 170);
  color: aliceblue;
}
thead {
  background-color: rgb(17, 88, 170);
  color: aliceblue;
}
tfoot {
  background-color: rgb(17, 88, 170);
  color: aliceblue;
}
