<div class="wrapper">

  <div class="mainWrapper">
    <div class="leftHolder">
      <a href="http://mogoolab.com" title="Robotik Logo" class="logo">Robotik Logo</a>
      <div class="errorNumber">404</div>
    </div>
    <div class="rightHolder">
      <div class="message">
        <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
      </div>
      <div class="robotik"><img src="./../../../assets/images/robotik.png" alt="Oooops....we can’t find that page." title="Oooops....we can’t find that page."
          id="robot"></div>
      <div class="tryToMessage">
        Try to:
        <ul>
          <li>Use the search form</li>
          <li>Visit the <a href="http://mogoolab.com" title="Robotik Sitemap">Sitemap</a></li>
          <li>Go <a href="javascript:history.go(-1)" title="Back">back</a></li>
        </ul>
      </div>
      <!-- Search Form -->
      <div class="search">
        <span class="errorSearch">Please fill the search field</span>
        <form action="" method="post">
          <div class="searchInput">
            <input type="text" name="search_term" value="Search" />
          </div>
          <div class="searchButton">
            <input type="submit" name="submit" value="Go" />
          </div>

        </form>
      </div>
      <!-- end .search -->
    </div>



    <footer>
      <p class="copy">&copy 2011 Robotik 404. All rights reserved.</p>
      <menu>
        <li><a href="http://mogoolab.com" title="Home">Home</a></li>
        <li><a href="http://mogoolab.com/who-we-are" title="About Us">About us</a></li>
        <li><a href="http://mogoolab.com/category/portfolio" title="Services">Services</a></li>
        <li><a href="http://mogoolab.com/" title="Partners">Partners</a></li>
        <li class="last"><a href="http://mogoolab.com/contact" title="Contact">Contact</a></li>
      </menu>
    </footer>
    <!-- end footer -->

  </div>

</div>
<!-- end .wrapper -->
