.titleDialog{
  background-color: #050505;
  color: white;
}
.form-control {
  margin-top: 10px;
}
* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
