<mdc-dialog>
  <mdc-dialog-container>
    <mdc-dialog-surface class="surface">
      <mdc-dialog-content>
        <div class="form-group">
          <select class="form-control" (change)="chooseFood($event.target.value)">
            <option value="">--------</option>
            <option *ngFor="let s of subtype_select" value="{{ s.id }}">{{ s.food_name }}
              ລາຄາ {{ s.price | number }}</option>
          </select>
        </div>
      </mdc-dialog-content>
    </mdc-dialog-surface>
  </mdc-dialog-container>
</mdc-dialog>
