$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

@import "~@angular-mdc/theme/material";


.surface{
  position: relative;
  align-content: center;
  padding: 0;
  min-width: 200px;
  max-width: 800px;
  max-height: 300px;
}
.mainContent {
  position: absolute;
  min-width: 800px;
  margin-top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.dialogContent {
  min-width: 600px;
  max-width: 800px;
  min-height: 600px;

}
img {
  max-width: 200px;
  min-width: 200px;
  margin-bottom: 50px;
  border-radius: 2px;
}
.framImg {
  position: relative;
  padding: 10px;
  max-width: 220px;

  border-radius: 2px;

}
.foodname {
  position: relative;
  margin-top: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-width: 220px;

}
.formframe {
  position: relative;
  padding: 10px;
}
.button-close {
  min-width: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
}
.titleDialog {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
  background-color: #1565c0;
}

