.surface {
  min-width: 1024px;
  min-height: 700px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}

.col-order-box {
  display: flex;
  position: absolute;
  min-width: 400px;
  max-width: 400px;
  max-height: 800px;
  border-radius: 5px;
  border: 1px dotted #242727;
  overflow: auto;
  margin-top: 5px;
}

.col-payment-box {
  display: flex;
  min-width: 550px;
  max-width: 550px;
  max-height: 800px;
  min-height: 600px;
  border-radius: 5px;
  border: 1px dotted #242727;
  overflow: auto;
  margin-top: 5px;
}

.control-space {
  margin-top: 20px;
  margin-left: 10px;
}
.banknote {
  margin-left: 5px;
  max-width: 90px;
  margin-top: 5px;
  background-color: #242727;
  color: #ffffff;
}
.titleDialog {
  background-color: #242727;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
.card-header {
  background-color: #242727;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
.card-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
.pay-btn {
  background-color: #7f0000;
  color: #ffffff;
}
.footer-div {
  background-color: #242727;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
.cancel-btn {
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,'Phetsarath OT';
}
