<mdc-dialog>
    <mdc-dialog-container>
      <mdc-dialog-surface class="surface">
        <mdc-dialog-title class="titleDialog text-center"><p mdcHeadline5>ຍຶນຍັນການສັ່ງອາຫານ - Order Payment confirmation</p></mdc-dialog-title>
        <mdc-dialog-content>
          <div class="row">
            <div class="col col-order">
                <div class="card">
                  <div class="card-header">Orders</div>
                  <div class="card-body">

                  </div>
                </div>
            </div>
            <div class="col col-payment">
                  <div class="card">
                  <div class="card-header">ຈ່າຍເງິນ</div>
                  <div class="card-body">
                    
                  </div>
                </div>
            </div>
          </div>
          
        </mdc-dialog-content>
        <mdc-dialog-actions>
          <button mdcDialogButton mdcDialogAction="close">ຍົກເລີກ</button>
        </mdc-dialog-actions>
      </mdc-dialog-surface>
    </mdc-dialog-container>
  </mdc-dialog>
  