<div class="container" #mainContent>
  <div class="col card-main">

    <div class="card">
      <div class="card-header">
        <h4>ລາຍການອາຫານທັງໝົດ</h4>
      </div>
      <div class="card-body">
        <div class="input-group mb-3 searchtxt">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons">
                search
              </i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="ຄົ້ນຫາອາຫານ" [(ngModel)]="searchtxt">
        </div>

        <table id="foodTable" class="table table-hover table-striped">
          <thead class="table-dark">
            <tr>
              <th class="text-center ">
                #
              </th>
              <th class="text-center text-nowrap ">
                ລາຍການອາຫານ
              </th>
              <th class="text-center">
                ຮູບພາບ
              </th>
              <th class="text-center text-nowrap">
                ປະເພດ
              </th>
              <th class="text-center">
                ຕົ້ນທຶນ
              </th>
              <th class="text-center">
                ລາຄາຂາຍ
              </th>
              <th class="text-center text-nowrap">
                ສະກຸນເງິນ
              </th>
              <th class="text-center text-nowrap">
                ຫ້ອງຄົວ
              </th>

              <th class="text-center">ຄຳສັ່ງ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let food of data | foodsFilter: searchField : searchtxt ; let i = index ">
              <td class="align-middle">{{ i + 1 }}</td>
              <td class="align-middle text-nowrap">{{ food.food_name }}</td>
              <td class="align-middle">
                <div class="grid">
                  <div class="item" [ngStyle]="{'background-image': 'url(' + url + food.photo + ')'}">

                  </div>
                </div>
              </td>
              <td class="align-middle text-center text-nowrap">
                {{ food.food_type_desc_la }}
              </td>
              <td class="align-middle text-right">
                {{ food.cost | number: '.2' }}
              </td>
              <td class="align-middle text-right">
                {{ food.price | number: '.2' }}
              </td>
              <td class="align-middle text-center">{{ food.curr_name_la }}</td>
              <td class="align-middle text-center">{{ food.kitchen_code }}</td>

              <td class="align-middle text-center text-nowrap">
                <button mdc-fab [mini]="true" class="buttonEdit" (click)="updateOnClick(food)">
                  <mdc-icon>edit</mdc-icon>
                </button>

                <button mdc-fab [mini]="true" class="buttonRemove" (click)="showDialog(food.id)">
                  <mdc-icon>remove</mdc-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-center ">
                #
              </th>
              <th class="text-center text-nowrap ">
                ລາຍການອາຫານ
              </th>
              <th class="text-center">
                ຮູບພາບ
              </th>
              <th class="text-center text-nowrap">
                ປະເພດ
              </th>
              <th class="text-center">
                ຕົ້ນທຶນ
              </th>
              <th class="text-center">
                ລາຄາຂາຍ
              </th>
              <th class="text-center text-nowrap">
                ສະກຸນເງິນ
              </th>
              <th class="text-center text-nowrap">
                ຫ້ອງຄົວ
              </th>

              <th class="text-center">ຄຳສັ່ງ</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<button mdc-fab class="fab-add-new" extended position="bottomRight" (click)="addFoodDialog()">
  <mdc-icon>add</mdc-icon>
  <mdc-fab-label>Create</mdc-fab-label>
</button>
