<div class="container" #mainContent>
  <div class="col card-main">
    <div class="card">
      <div class="card-header">
        <h4>ລາຍການອາຫານທັງໝົດ</h4>
      </div>
      <div class="card-body">
        <table id="foodTable" class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th class="text-center ">
                <mfDefaultSorter by="i">#</mfDefaultSorter>
              </th>
              <th class="text-center text-nowrap ">
                <mfDefaultSorter by="food_name"> ລາຍການອາຫານ </mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="photo">ຮູບພາບ</mfDefaultSorter>
              </th>
              <th class="text-center text-nowrap">
                <mfDefaultSorter by="food_type_id">ປະເພດ</mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="cost">ລາຄາຕົ້ນທຶນ</mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="price">ລາຄາຂາຍ</mfDefaultSorter>
              </th>
              <th class="text-center text-nowrap">
                <mfDefaultSorter by="currcode">ສະກຸນເງິນ</mfDefaultSorter>
              </th>
              <th class="text-center text-nowrap">
                <mfDefaultSorter by="kitchen_code">ຫ້ອງຄົວ</mfDefaultSorter>
              </th>
              <th class="text-center">
                <mfDefaultSorter by="enabled">ນຳໃຊ້</mfDefaultSorter>
              </th>
              <th class="text-center">ຄຳສັ່ງ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let food of mf.data; let i = index" [attr.data-index]="i">
              <td class="align-middle">{{ i + 1 }}</td>
              <td class="align-middle text-nowrap">{{ food.food_name }}</td>
              <td class="align-middle">
                <div class="text-center">
                  <img class="text-center align-middle w-25" src="{{ food.photo }}" />
                </div>
              </td>
              <td class="align-middle text-center text-nowrap">
                {{ food.food_type_desc_la }}
              </td>
              <td class="align-middle text-right">
                {{ food.cost | number: '.2' }}
              </td>
              <td class="align-middle text-right">
                {{ food.price | number: '.2' }}
              </td>
              <td class="align-middle text-center">{{ food.curr_name_la }}</td>
              <td class="align-middle text-center">{{ food.kitchen_code }}</td>
              <td class="align-middle text-center">
                <div class="form-check checkbox-slider--c">
                  <label>
                    <mdc-switch class="demo-switch--custom " [checked]="food.enabled"></mdc-switch>
                  </label>
                </div>
              </td>
              <td class="align-middle text-center text-nowrap">
                <button mdc-fab [mini]="true" class="buttonEdit" (click)="updateOnClick(food)">
                  <mdc-icon>edit</mdc-icon>
                </button>

                <button mdc-fab [mini]="true" class="buttonRemove" (click)="showDialog(food.id)">
                  <mdc-icon>remove</mdc-icon>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="9" class="text-center">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<button mdc-fab class="fab-add-new" extended position="bottomRight" (click)="addFoodDialog()">
  <mdc-icon>add</mdc-icon>
  <mdc-fab-label>Create</mdc-fab-label>
</button>
