$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #faab1a;
$mdc-theme-edit: #f18109;
$mdc-theme-remove: #a90707;
$rally-container: #363640;

@import "~@angular-mdc/theme/material";

.container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,'Phetsarath OT';
  background-color: #E1DEDD;
}
.card-main {
  margin-top: 50px;
  position: relative;
}

table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.demo-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px;

  h3 {
    margin-top: .3em;
  }
}

.demo-content--column {
  display: flex;
  flex-direction: column;
}

.demo-content--row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
}

.demo-switch--custom {
  $color: $material-color-red-500;

  @include mdc-switch-toggled-on-color($color);
}

button {
  margin: 1px;
  align-content: center;
}


.label-container {
  position: fixed;
  bottom: 48px;
  right: 105px;
  display: table;
  visibility: hidden;
}

.label-text {
  color: #FFF;
  background: rgba(51, 51, 51, 0.5);
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-radius: 3px;
}

.label-arrow {
  display: table-cell;
  vertical-align: middle;
  color: #333;
  opacity: 0.5;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(47, 138, 6);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  animation: bot-to-top 2s ease-out;
}

ul {
  position: fixed;
  right: 40px;
  padding-bottom: 20px;
  bottom: 80px;
  z-index: 100;
}

ul li {
  list-style: none;
  margin-bottom: 10px;
}

ul li a {
  background-color: rgb(47, 138, 6);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  width: 60px;
  height: 60px;
  display: block;
}

ul:hover {
  visibility: visible !important;
  opacity: 1 !important;
}


.my-float {
  font-size: 24px;
  margin-top: 18px;
}

a#menu-share+ul {
  visibility: hidden;
}

a#menu-share:hover+ul {
  visibility: visible;
  animation: scale-in 0.5s;
}

a#menu-share i {
  animation: rotate-in 0.5s;
}

a#menu-share:hover>i {
  animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
  0% {
    bottom: -40px
  }

  50% {
    bottom: 40px
  }
}

@keyframes scale-in {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes rotate-in {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.control-space {
  margin-top: 10px;
}

.fab-add-new {
  @include mdc-fab-accessible($mdc-theme-primary);
}

.buttonEdit {
  @include mdc-button-container-fill-color($mdc-theme-edit);
}

.buttonRemove {
  @include mdc-button-container-fill-color($mdc-theme-remove);
}
.card-header {
  background-color: rgb(17, 88, 170);
  color: aliceblue;
}
thead {
  background-color: rgb(17, 88, 170);
  color: aliceblue;
}

.grid {
  display: grid;
  grid-gap: 30px;
  /* autoprefixer: off */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 5px;
}
.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background:  url('https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
    }
  }

  &__details {
    position: relative;
    align-content: center;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;

    &:before {
      //content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}
