<div class="container-flex">
  <div class="row">
    <div class="col col-main">
      <div class="row">
        <div class="card item-card-category">
          <div class="card-header">
            <p class="h5">Items category</p>
          </div>
          <div class="card-body">
            <!-- Start Product category item -->
            <div class="row">
              <div class="category-item " mdcElevation="5" (click)="onClickCategory('all')">
                <div class="text-center detail">
                  <h4>ທັງໝົດ</h4>
                </div>
              </div>
              <div class="category-item" mdcElevation="5" *ngFor="let ft of food_types" (click)="onClickCategory(ft.id)">
                <div class="text-center detail">
                  <h4>{{ ft.food_type_desc_la }}</h4>
                </div>
              </div>
            </div>
            <!-- End Product category item -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card item-card">
          <div class="card-header">
            <p class="h5">Items</p>
          </div>
          <div class="card-body">
            <!-- Start Food item -->
            <div class="row">
              <div class="product-grid" mdcElevation="8" *ngFor="let fd of foods" (click)="addItemToCard(fd)">
                <div class="image">
                  <a>
                    <img src="{{ fd.photo }}">
                  </a>
                  <h5 class="text-center price-text">Price: {{ fd.price | currency:'LAK':'symbol'}} </h5>
                </div>
              </div>
            </div>
            <!-- End Food item -->
          </div>
          <div [ngClass]="displayElement">No Data</div>
        </div>
      </div>
    </div>
    <div class="col col-payment">
      <div class="row">
        <div class="card order-card">
          <div class="card-header">
            <h3>Cart Info</h3>
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover">
              <tr>
                  <th>Option</th>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Sub Total</th>
              </tr>
              <tr *ngFor="let item of items">
                  <td align="center">
                      <a (click)="remove(item.food.id)">X</a>
                  </td>
                  <td>{{item.food.id}}</td>
                  <td>{{item.food.food_name}}</td>
                  <td>{{item.food.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.food.price * item.quantity |  currency:'LAK':'symbol' }}</td>
              </tr>
              <tr>
                  <td colspan="5" align="right">Total </td>
                  <td>{{total |  currency:'LAK':'symbol' }}</td>
              </tr>
          </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card card-payment">
          <div class="card-header">Payment</div>
        </div>
      </div>
    </div>
  </div>
</div>
