<div class="container ">
  <div class="row ">
    <div class="col col-md-8">
      <div class="row">
        <div class="card item-card-category">

          <div class="card-header">
            <div class="row">
              <div class="h5" align="start">ຮັບລາຍການ</div>
            </div>
          </div>
          <div class="card-body">
            <div class="category-item">
              <mdc-tab-bar #demoStackedTabBar (activated)="onClickCategory($event)">
                <mdc-tab-scroller>
                  <mdc-tab class="tablabel" label="ທັງໝົດ"></mdc-tab>
                  <mdc-tab class="tablabel" label="{{ ft.food_type_desc_la }}" *ngFor="let ft of food_types"></mdc-tab>
                </mdc-tab-scroller>
              </mdc-tab-bar>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="card item-card">
          <div class="card-body">
            <!-- Start Food item -->
            <div class="row">
              <div class="grid" *ngFor="let fd of foods; index as i " (click)="addItemToCard(fd)">
                <div class="item" [ngStyle]="{'background-image': 'url(' + url + fd.photo + ')'}">
                  <div class="item__details">
                    {{ fd.food_name }}
                  </div>
                </div>
              </div>
            </div>
            <!-- End Food item -->
          </div>
          <div [ngClass]="displayElement">No Data</div>
        </div>
      </div>
    </div>

    <div class="col col-md-4  col-payment">
      <div class="payment-panel">
        <div class="row">
          <div class="card order-card">
            <div class="card-header">
              <div class="row">
                <div class="h5" align="start">ລາຍການອາຫານທີ່ເລືອກໄວ້</div>
                <button mdc-fab [mini]="true" class="buttonAdd" (click)="callCustomerDialog()">
                  <mdc-icon>add</mdc-icon>
                </button>
              </div>

            </div>
            <div class="card-body item-body">
              <table class="table table-sm table-striped table-hover tableFixHeaderFooter">
                <tr>
                  <th class="text-center">ລຶບ</th>
                  <th class="text-center">ເມນູ</th>
                  <th class="text-center">ລາຄາ</th>
                  <th class="text-center">ຈຳນວນ</th>
                  <th class="text-center">ລວມ</th>
                  <th class="text-center">ພິເສດ</th>
                </tr>
                <tr *ngFor="let item of items">
                  <td class="text-center">
                    <!--
                    <button mdc-fab [mini]="true" class="buttonRemove" (click)="removeCardItem(item.food.id)">
                      <mdc-icon>delete</mdc-icon>
                    </button>
                    -->
                    <i class="material-icons" style="cursor: pointer; color: #ea1010;" (click)="removeCardItem(item.food.id)">
                      delete
                    </i>
                  </td>
                  <td class="text-left">{{item.food.food_name}}</td>
                  <td class="text-right">{{item.food.price | number}}</td>
                  <td class="text-right">{{item.quantity}}</td>
                  <td class="text-right"><strong>{{item.food.price * item.quantity | number }}</strong></td>
                  <td class="text-center">
                    <a href="#">ພິເສດ</a>
                  </td>
                </tr>

                <tfoot>
                  <tr>
                    <td colspan="5" class="text-right">ລວມທັງໝົດ </td>
                    <td class="text-right"> {{total | number }}</td>
                  </tr>
                  <tr>
                    <td colspan="5" class="text-right">ສ່ວນຫຼຸດ {{ discount_rate }} %</td>
                    <td class="text-right"> {{ discount | number }}</td>
                  </tr>
                  <tr>
                    <td colspan="5" class="text-right">ອາກອນມູນຄ່າເພີ່ມ {{ tax_rate }} %</td>
                    <td class="text-right"> {{ tax | number }}</td>
                  </tr>
                  <tr>
                    <td colspan="5" class="text-right">ລວມທັງໝົດທີ່ຕ້ອງຈ່າຍ</td>
                    <td class="text-right"> {{ grandTotal | number }}</td>
                  </tr>
                </tfoot>
              </table>
              <button mdc-fab extended label="{{ grandTotal | number }}" [disabled]="!paymentReady" class="buttonPayment"
                (click)="callPaymentdialog()">
                <mdc-icon>payment</mdc-icon>
              </button>
            </div>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="card card-payment">
            <div class="card-header">
              <p class="h6">ຂັ້ນຕອນການຈ່າຍເງິນ</p>
            </div>
            <div class="card-body">

              <div class="row customerInfo">
                <div class="col text-left customerText">
                  <p>ລູກຄ້າ :</p>
                </div>
                <div class="col text-left customerText">
                  <p>
                    <ng-template [ngIf]="customer.gender == 'M'">ທ່ານ. {{ customer.fullname }}</ng-template>
                    <ng-template [ngIf]="customer.gender == 'F'">ທ່ານນາງ. {{ customer.fullname }}</ng-template>
                  </p>
                </div>
                <div class="col customerText">
                  <p>ເບີໂທ :</p>
                </div>
                <div class="col text-left customerText">
                  <p>
                    {{ customer.mobile }}
                  </p>

                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="row payment-box">
                    <div class="col col-md-6">
                      <button class="btn btn-primary payment-button" [disabled]="paymentReady" (click)="callPaymentdialog()"
                        outlined="true">ຈ່າຍດ້ວຍເງິນສົດ</button>
                    </div>
                    <div class="col col-md-6">
                      <button class="btn btn-primary payment-button" disabled=" true">ຈ່າຍດ້ວຍບັດ</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      -->



      </div>
    </div>
  </div>
</div>
