<div class="container-flex">
  <div class="row">
    <div class="col col-main">
      <div class="row">
        <div class="card item-card-category">
          <div class="card-header">
            <p class="h5">ປະເພດອາຫານ</p>
          </div>
          <div class="card-body">
            <!-- Start Product category item -->
            <div class="row">
              <div class="category-item " mdcElevation="5" (click)="onClickCategory('all')">
                <div class="text-center detail">
                  <h4>ທັງໝົດ</h4>
                </div>
              </div>
              <div class="category-item" mdcElevation="5" *ngFor="let ft of food_types" (click)="onClickCategory(ft.id)">
                <div class="text-center detail">
                  <h4>{{ ft.food_type_desc_la }}</h4>
                </div>
              </div>
            </div>
            <!-- End Product category item -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card item-card">
          <div class="card-header">
            <p class="h5">ລາຍການອາຫານ</p>
          </div>
          <div class="card-body">
            <!-- Start Food item -->
            <div class="row">
              <div class="product-grid" mdcElevation="8" *ngFor="let fd of foods" (click)="addItemToCard(fd)">
                <div class="image">
                  <h6 class="text-center price-text">{{ fd.food_name }}</h6>
                  <a>
                    <img src="{{ fd.photo }}">
                  </a>

                  <h6 class="text-center price-text">ລາຄາ: {{ fd.price | number }} ກິບ</h6>
                </div>
              </div>
            </div>
            <!-- End Food item -->
          </div>
          <div [ngClass]="displayElement">No Data</div>
        </div>
      </div>
    </div>
    <div class="col col-payment">
      <div class="payment-panel">
        <div class="row">
          <div class="card order-card">
            <div class="card-header">
              <p class="h5">ລາຍການອາຫານທີ່ເລືອກໄວ້</p>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover tableFixHeaderFooter" style="margin:0;">
                <tr>
                  <th class="text-center">ລຶບ</th>
                  <th class="text-center">ເມນູ</th>
                  <th class="text-center">ລາຄາຕໍ່ຫນ່ວຍ</th>
                  <th class="text-center">ຈຳນວນ</th>
                  <th class="text-center">ລວມ</th>
                </tr>
                <tr *ngFor="let item of items">
                  <td class="text-center">
                    <button mdc-fab [mini]="true" class="buttonRemove" (click)="removeCardItem(item.food.id)">
                      <mdc-icon>remove</mdc-icon>
                    </button>
                  </td>
                  <td class="text-left">{{item.food.food_name}}</td>
                  <td class="text-right">{{item.food.price | number}}</td>
                  <td class="text-right">{{item.quantity}}</td>
                  <td class="text-right">{{item.food.price * item.quantity | number }}</td>
                </tr>

                <tfoot>
                  <tr>
                    <td colspan="4" class="text-right">ລວມທັງໝົດ </td>
                    <td class="text-right"> {{total | number }}</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">ສ່ວນຫຼຸດ {{ discount_rate }} %</td>
                    <td class="text-right"> {{ discount | number }}</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">ອາກອນມູນຄ່າເພີ່ມ {{ tax_rate }} %</td>
                    <td class="text-right"> {{ tax | number }}</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">ລວມທັງໝົດທີ່ຕ້ອງຈ່າຍ</td>
                    <td class="text-right"> {{ grandTotal | number }}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card card-payment">
            <div class="card-header">Payment</div>
            <div class="card-body">
              <div class="row customerInfo">
                <div class="col text-left customerText">
                  <p mdcSubtitle1>ລູກຄ້າ :</p>
                </div>
                <div class="col text-left customerText">
                  <p mdcSubtitle1>
                    <ng-template [ngIf]="customer.gender == 'M'">Mr. {{ customer.fullname }}</ng-template>
                    <ng-template [ngIf]="customer.gender == 'F'">Ms. {{ customer.fullname }}</ng-template>
                  </p>
                </div>
                <div class="col customerText">
                  <p mdcSubtitle1>ເບີໂທ :</p>
                </div>
                <div class="col text-center customerText">
                  <p mdcSubtitle1>
                    {{ customer.mobile }}
                  </p>
                </div>
                <div class="col customerText" style="margin-top:0;">
                  <button mdc-fab [mini]="true" class="buttonAdd" (click)="callCustomerDialog()">
                    <mdc-icon>add</mdc-icon>
                  </button>
                </div>
              </div>

              <div class="row payment-box">
                <div class="row text-center">
                  <div class="col" style="min-width:300px">
                    <button mdc-button class="payment-button" [disabled]="paymentReady" (click)="callPaymentdialog()"
                      outlined="true">Cash</button>
                  </div>
                  <div class="col" style="min-width:300px">
                    <button mdc-button disabled="true" class="payment-button" outlined="true">Credit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>