$mdc-theme-primary: #1565c0;
$mdc-theme-secondary: #388e3c;
$mdc-theme-background: #fff;

@import "~@angular-mdc/theme/material";

.container-flex {
  display: flex;
  margin-top: 50px;

  margin-right: 6px;
  border-radius: 5px;
}

.col-main {
  width: 900px;
}

.col-order {
  width: 600;
}

.food-row {
  margin: 10px;
  background-color: royalblue;
}

.order-card {
  width: 100%;
  margin-left: 10px;

}

.item-card {
  width: 100%;
  margin-top: 5px;
  margin-left: 20px;
  height: 600px;
  overflow: auto;
}

.item-card-category {
  width: 100%;
  margin-top: 5px;
  margin-left: 20px;
}

.card-payment {
  width: 800px;
  margin-left: 10px;
  margin-top: 10px;
}

.row-item {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-color: darkslateblue;
  border: 5px;
}

.row-item-category {
  margin: 5px;
}

.category-item {
  background-color: #3498DB;
  padding-top: 30px;
  max-width: 200px;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid slategrey;
  margin: 10px;
  vertical-align: middle;
  cursor: pointer;
}



.product-grid {
  padding-bottom: 20px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.category-item-text {
  margin: auto;
}

.category-item:hover .overlay {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.detail {
  color: #fff;
  align-self: center;
  vertical-align: middle;
}

img {
  display: block;
  max-width: 197px;
  max-height: 197px;
  width: 197px;
  height: 180px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px dashed #388e3c;
}

.image {
  position: relative;
  margin: 10px;

}

.price-text {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hiddenDiv {
  display: none;
}
