<div class="container">
  <div class="row main-row">

    <div class="card">
      <div class="card-header">
        <div class="h5">ສະຫຼູບຕາມປະເພດອາຫານ</div>
        <div class="menu">
          <a class="material-icons">
            menu
          </a>
        </div>

      </div>
      <div class="card-body">

      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <div class="h5">ລາຍຮັບຕາມຄົວ</div>
        <div class="menu">
          <a class="material-icons">
            menu
          </a>
        </div>

      </div>
      <div class="card-body">

      </div>
    </div>


    <div class="card">
      <div class="card-header">
        <div class="h5">ສະຫຼູບຕາມປະເພດອາຫານ</div>
        <div class="menu">
          <a class="material-icons">
            menu
          </a>
        </div>

      </div>
      <div class="card-body">

      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="h5">ສະຫຼູບຕາມປະເພດອາຫານ</div>
        <div class="menu">
          <a class="material-icons">
            menu
          </a>
        </div>

      </div>
      <div class="card-body">

      </div>
    </div>

  </div>